:root {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.2em;
}

body {
    margin: 5vh auto;
    max-width: 1000px;
    width: 60vw;
    min-width: min(500px, 90vw);
}

pre {
    overflow: visible;
    border: 2px solid CanvasText;
    position: relative;
}

pre, code {
    font-family: monospace, monospace;
    padding: 4px;
}

pre code {
    overflow: scroll;
    display: block;
    max-width: 100%;

    --bg: Canvas;
    --sh: ButtonFace;

    background-image:
            linear-gradient(to right, var(--bg) 25px, transparent 35px),
            linear-gradient(to left, var(--bg) 25px, transparent 35px),
            radial-gradient(farthest-side at 0 50%, var(--sh), transparent),
            radial-gradient(farthest-side at 100% 50%, var(--sh), transparent);
    background-size: 100% 100%, 100% 100%, 20px 100%, 20px 100%;
    background-position: 50% 0%, 100% 50%, 0% 0%, 100% 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
}

pre code::before {
    content: attr(data-lang);
    position: absolute;
    top: -1em;
    left: 0.5em;
    display: block;
    background-color: Canvas;
    font-size: 0.75em;
}

footer, header {
    margin: 40px 0;
}

td, th {
    border: 2px solid CanvasText;
    padding: 5px;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    overflow: scroll;
    display: block;
}

.NoVisibleWithStyle {
    display: none;
}
